<!DOCTYPE html>
<html>
<head>
	<title>Upload Movie</title>
</head>
<body>

	<form method="post">
		<fieldset>
			<legend><h1>Upload Movie</h1></legend>
			<table>
				<tr>
					<td>Type</td>
					<td><input type="text" name="type"></td>
				</tr>
				<tr>
					<td>Title</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>Link</td>
					<td><input type="Link" name="link"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>