<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

						
						<h1 ><a>Welcome To Content Panel</a></h1>
						
						<h2>
							<a href="/mediacontent/uploadmovie"> Upload Movies</a> ||
				
					
						<a href="#"> Upload Tv Series</a> ||
						
						
						<a href="#"> Upload Games </a> || 
						

					<a> Upload Software <a><br> -->
						<a href="#">  Upload Software </a> || 
						<!-- a href="#"> Computer Science </a>
					</li> --><br>

					    <a href="/logout">LogOut</h2>
							
								
								
						
								
		
								
</body>
</html>