<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

						
						<h1 ><a>Welcome To Moderator Panel</a></h1>
						
						<h2><a href="/moderatorhome/moderatorprofile">Moderator Profile</a> ||
						<a href="/moderatorhome/viewcontent"> View Content</a> ||<a href="/adminhome/viewrequest"> View Request </a> <br>
						<p>                            </p><br>

						<a> Media Content <a>
							<p>                            </p><br>
						<li><a href="/moderatorhome/addmediacontent"> Add Media Content</a> || 
						<a href="/moderatorhome/mediacontent"> Delete Media Content</a> </li><br>
						

					    <a href="/logout">LogOut</h2>
							
								
								
						
								
		
								
</body>
</html>